h1 {
  font-size: 48px;
  color: black;
}

.hey22 {
  font-size: 25px;
  color: black;
}

.june {
  background-color: lightblue;
}

#nin{
  background-color: lightblue;
}

p {
  font-family: "Montserrat" , fantasy;
}
